*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
  
}

body{
    background-image:url('bg3.jpeg');
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sana',sans-serif;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;

}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    flex: 1;
    text-align: center;
}
.countainer:hover{
    transition: .5s ease-in-out;
    transition-delay: .3s;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin: 10px 0;
}

.card-content p {
    color: #555;
    font-size: 14px;
}

.card-content button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.card-content button:hover {
    background-color: #555;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 40px;
    font-weight: bold;
    float: left;
    font-family: 'comic sans ms';
    color: #0b0606;
}

.menu{
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #f7f8f8;
    z-index: 1;
    border-bottom: 1px solid #090909;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: rgb(248, 249, 248);
}

h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #040505;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru{
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #eaf0ec;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover{
    background: #364F6B;
    text-decoration: none;
}
a.tbl-pink{
    background: #364F6B;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;  
}

a.tbl-pink:hover{
    background: #3f72af;
    text-decoration: none;
}

p{
    margin: 10px  0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah{
    text-align: center;
    width: 100%;
}

.date-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tempat{
    width: 20%;
    margin: 0 auto;
}

.kartu-tempat img{
    width: 80%;
    border-radius: 50%;
}

.kartu-tempat p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #364F6B;
}

#contact{
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width: 20%;
    margin: 0 auto;
}

h3{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364F6B;
    width: 100%;
    line-height: 50px;
}

#copyright{
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
    .wrapper{
        width: 80%;
    }

    .logo a{
        display: block;
        width: 100%;
        text-align: center;
    }

    nav.menu{
        width: 100%;
        margin: 0;
    }

    nav.menu ul{
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav.menu ul li{
        display: inline-block;
        float: none;
    }

    section{
        display: block;
    }

    section img{
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-tempat{
        width: 50%;
    }
}
